.pokemon-main .container-api {
  overflow-y: visible;

  img {
    height: 88px;
  }

  h4 {
    margin: 0;
    font-size: 20px;
    text-transform: capitalize;
  }

  .container {
    display: flex;
  }

  p.types {
    margin: 0;

    span {
      padding: 0 6px;
      border-radius: 6px;
      color: white;
      margin: 0 2px;

      &.normal {
        background-color: gray;
      }

      &.grass {
        background-color: forestgreen;
      }

      &.poison {
        background-color: purple;
      }

      &.flying {
        background-color: lightblue;
      }

      &.fire {
        background-color: orangered;
      }

      &.ground {
        background-color: brown;
      }

      &.electric {
        background-color: yellow;
        color: black;
      }

      &.water {
        background-color: dodgerblue;
      }

      &.psychic {
        background-color: mediumpurple;
      }

      &.fighting {
        background-color: darkred;
      }

      &.bug {
        background-color: greenyellow;
        color: black;
      }
    }
  }
}

.stackoverflow-search .container-api, .twitter-profile .container-api {
  input {
    height: 26px;
    width: 100%;
  }

  a.stackoverflow-question, .twitter-result {
    width: 100%;
    padding: 2px 6px;
    border-radius: 4px;
    border: 1px solid lightgray;
    box-shadow: 0 0 2px 0 lightgray;
    display: block;
    margin: 6px 0;
    color: black !important;
    text-decoration: none;
    transition: all .3s ease;

    &:hover {
      box-shadow: 0 0 6px 0 lightgray;

    }
  }
}

/* Twitter widget */
.twitter-profile .container-api a.twitter-result {
  display: flex;
  align-items: center;
  padding: 10px;

  span {
    display: flex;
    margin-right: 10px;

    img {
      border-radius: 50%;
    }
  }
<<<<<<< HEAD
}


.football-live-score .container-api > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 4px;

  .match-card {
    box-shadow: 0 0 20px -10px gray;
    border-radius: 8px;
    width: 31%;
    padding: 6px 8px;
    margin: 8px 0;
  }

  h3, h4 {
    margin: 0 0 4px;
    width: 100%;
    text-align: center;
  }

  p {
    margin: 0 0 4px;
  }

}
=======

  .certified {
    width: 24px;
    margin-left: 5px;

    path {
      fill: rgba(29, 161, 242, 1.00);
    }
  }
}
>>>>>>> e18c50ca9280f34c65fa50b7d80640e7af0bcfd5
