@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

body {
    margin: 0;
    font-family: var(--font-txt);
}

:root{
    --font-title: 'Satisfy';
    --font-title: 'Righteous', cursive;
    /*--font-txt: 'Nova Square', cursive;*/
    --font-txt: 'Baloo Chettan 2', cursive;
}
.theme-l{
    --c-bg: #edf1f1;
    --c-txt: rgb(85, 85, 85);
}
.theme-d{
    --c-bg: black;
}

.t{
    border: 1px solid rgba(0, 0, 0, 0.33);
}

.error {
    color: red;
}

.success {
    color: forestgreen;
}

*{
    /*border: 1px solid rgba(0, 0, 0, 0.33); */
}
button:focus, input:focus, select:focus, textarea:focus{
    outline: none;
}
input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
    color: var(--c-txt);
    font-family: var(--font-txt);
    font-weight: bold;
}
#mdp{
    -webkit-text-security: disc;
}
#mdp:focus{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}
#mdp::-webkit-input-placeholder{
    -webkit-text-stroke-width: 0;
}
html{
    max-width: 100%;
    max-height: 100vh;
    min-width: 600px;
    min-height: 400px;
    overflow: hidden;

}
.bg{
    background-color: var(--c-bg);
    width: 100%;
    height: 100vh;
    overflow: hidden;


    background-image: url("assets/imgs/Wallpaper.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    /*width: 100%;*/
    height: 64px;
    position: relative;
}
main{
    /*width: 100%;*/
    height: calc(100vh - 112px);
    position: relative;
}
footer{
    /*width: 100%;*/
    height: 48px;
}

/*----Header----*/
.header-menu{
    position: absolute;
    width: 400px;
    height: 100%;
    display: inline-block;
}
.header-title{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 100%;
    display: inline-block;
    font-family: var(--font-title);

    background-image: url("assets/imgs/title.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;

}
.header-user{
    position: absolute;
    right: 0;
    width: 300px;
    height: 100%;
    display: inline-block;
}
.header-user p{
    margin-top: 25px;
    margin-right: 86px;
    color: var(--c-txt);
    font-family: var(--font-txt);
    font-size: 18px;
    text-align: right;
}
.header-user-pfp{
    position: absolute;
    top: 12px;
    right: 24px;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-image: url("assets/imgs/user.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f0c3ee;
    border: 2px solid #f57af1;
}

.menu-button{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 25px;
    margin-left: 30px;
    cursor: pointer;
    display: inline-block;
    border: none;
    padding-bottom: 22px;

    width: 100px;
    height: 20px;
    border-radius: 20px;

    background-size: 200% auto;
    background-image:  linear-gradient(101deg, #78e4ff, #ff48fa);
    transform: translateY(2px) translateX(3px);

    font-family: var(--font-txt);
    font-weight: bold;
    font-size: 14px;
}
.menu-button:hover{
    transform: translateY(0px) translateX(0px);
    width: 102px;
    height: 22px;
    font-size: 15px;
}
/*----Main Content----*/
.main-block{
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 20px;

    border: 5px solid;
    /*border-image-source: linear-gradient(144deg,
        rgba(95,229,211,1) 0%,
        rgba(83,225,126,1) 33%,
        rgba(215,101,55,1) 66%,
        rgba(225,50,126,1) 100%);*/
    border-image-source: linear-gradient(145deg, #78e4ff, #ff48fa);
    border-image-slice: 1;


}
.main-container{
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    overflow-y: auto;
}

.container-block{
    width: calc(25% - 20px);
    height: 225px;
    display: flex;
    margin: 10px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.container-bd{
    height: 100%;
    width: 5px;
    border-radius: 5px 0 0 5px;
    background-image: linear-gradient(lightgray, gray);
    position: absolute;
    left: 0;
}
.container-bg{
    height: 100%;
    width: calc(100% - 5px);
    /*background-color: white;*/
    background-image: linear-gradient(145deg, #ffffff, #ececec);
    position: absolute;
    left: 5px;
    box-shadow: 4px 4px 6px rgba(0,0,0, 0.15);
}

.container-header{
    width: 100%;
    height: 42px;
    position: absolute;
}
.container-api{
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 50px;
}

.container-logo{
    position: absolute;
    width: 42px;
    height: 42px;

    background-image: url("assets/imgs/default_icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container-line{
    position: absolute;
    left: 5px;
    width: 200px;
    height: 46px;
    border-bottom: 3px solid lightgray;
}
.container-more{
    position: absolute;
    right: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;

    background-image: url("assets/imgs/more.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.container-more:hover{
    background-size: 110%;
}
.container-header h3{
    position: absolute;
    top: 6px;
    left: 48px;
    color: gray;
}
.container-new{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.15);
    border: 2px solid rgba(128, 128, 128, 0.3);
    background-image: url("assets/imgs/wid-new.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
}
.container-new:hover{
    width: 86px;
    height: 86px;
}

.widget-menu, .widget-list{
    position: absolute;
    top: 32px;
    left: 32px;

    width: 0;
    height: 0;

    background-image: linear-gradient(145deg, #ffffff, #ececec);
    border: 2px solid rgb(199, 199, 199);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.075);

    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    z-index: 0;
    cursor: pointer;
}
.widget-menu-{
    width: 150px;
    height: auto;

    visibility: visible;
    opacity: 1;
    z-index: 1000;
}
.widget-menu-opt, .widget-list-opt {
    height: 32px;
    font-family: var(--font-txt);
    color: var(--c-txt);
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 5px;
    background-image: linear-gradient(145deg, #ffffff, #ececec);
    transition: all 0.1s;
    border-bottom: 1px solid lightgray;
}
.widget-menu-opt:hover{
    background-image: linear-gradient(145deg, #eeeeee, #d4d4d4);
    font-size: 18px;
    padding-top: 3px;
}


.widget-list-{
    width: 200px;
    height: auto;

    visibility: visible;
    opacity: 1;
    z-index: 1000;
}

.widget-list-opt:hover{
    background-image: linear-gradient(145deg, #eeeeee, #d4d4d4);
    font-size: 18px;
    padding-top: 3px;
}
/*------------Widget New------------*/
.wid-new .container-bg{background-image: linear-gradient(rgba(128, 128, 128, 0.25), rgba(85, 85, 85, 0.25));}
/*------------Widget Météo------------*/
.wid-meteo .container-bg{}
.wid-meteo .container-bd{background-image: linear-gradient(rgb(93, 247, 247), rgb(51, 206, 233));}
.wid-meteo .container-logo{background-image: url("assets/imgs/météo_icon.png");}
.wid-meteo h3{color: rgb(51, 206, 233);}
.wid-meteo .container-line{border-bottom: 3px solid rgb(93, 247, 247);}

/*------------Widget Stats------------*/
.wid-stats .container-bg{}
.wid-stats .container-bd{background-image: linear-gradient(rgb(253, 92, 92), rgb(221, 45, 45));}
.wid-stats .container-logo{background-image: url("assets/imgs/stats_icon.png");}
.wid-stats h3{color: rgb(221, 45, 45);}
.wid-stats .container-line{border-bottom: 3px solid rgb(253, 92, 92);}

/*------------Widget Youtube------------*/
.wid-youtube .container-bg{background-image: linear-gradient(rgb(214, 45, 45), rgb(143, 29, 29));}
.wid-youtube .container-bd{background-image: linear-gradient(rgb(253, 92, 92), rgb(221, 45, 45));}
.wid-youtube .container-logo{background-image: url("assets/imgs/yt_icon.png");}
.wid-youtube h3{color: white;}
.wid-youtube .container-line{border-bottom: 3px solid rgba(255, 255, 255, 0.66);}

/*------------Connection page------------*/
.c-main-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding-left: 60px;

    width: 1000px;
    height: 600px;


    border: 5px solid;
    /*border-image-source: linear-gradient(144deg,
        rgba(95,229,211,1) 0%,
        rgba(83,225,126,1) 33%,
        rgba(215,101,55,1) 66%,
        rgba(225,50,126,1) 100%);*/
    border-image-source: linear-gradient(145deg, #78e4ff, #ff48fa);

    border-image-slice: 1;
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0,0,0, 0.3);

    background-image: url("assets/imgs/Connect.png"), linear-gradient(101deg, rgb(68, 204, 245), rgb(43, 172, 223));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.c-form-header{
    position: relative;
    width: 66%;
    height: 52px;
    margin-top: 40px;
    overflow: hidden;
    user-select: none;
}
.c-form-header2{
    position: relative;
    width: 66%;
    height: 28px;
    user-select: none;
}
.c-form-block{
    position: relative;
    width: 50%;
    height: 320px;
    margin-top: 0;
    border: 1px solid transparent;
}
.c-form-block2{
    position: relative;
    width: 50%;
    height: 100px;
    margin-top: 0;
}
.c-form-block2 p{
    color: gray;
    font-family: var(--font-txt);
    margin-left: 140px;
}
.c-form-footer{
    position: relative;
    width: 50%;
    height: 50px;
}

.c-form-title1, .c-form-title2 {
    color: var(--c-txt);
    font-family: var(--font-title);
    margin: 0;
    height: 50px;
    font-size: 2rem;
    line-height: 50px;
    transform: translateY(0px);
    transition: opacity 0.1s, transform 0.3s;
}
.c-form-title1{
    opacity: 1;
}
.c-form-title1-{
    transform: translateY(-60px);
    opacity: 0;
}
.c-form-title2{
    opacity: 0;
}
.c-form-title2-{
    transform: translateY(-50px);
    opacity: 1;
}
.c-form-quote{
    color: var(--c-txt);
    font-family: var(--font-title);
    position: relative;
    transition: opacity 0.1s;
    opacity: 1;
    visibility: visible;
}

.c-span{
    background: -webkit-linear-gradient(101deg, #ff48fa, #78e4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    z-index: 1000;
}
.c-span:hover{
    text-decoration: underline;
}
.c-form-footer h6{
    color: gray;
    margin-top: 10px;
    margin-left: 70px;
}

.c-form-tab{
    text-align: center;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    margin-left: 105px;
    border: none;

    width: 125px;
    height: 30px;
    border-radius: 20px;

    background-size: 200% auto;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
}
.c-form-button{
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 5px;
    margin-left: 170px;
    cursor: pointer;
    display: inline-block;
    border: none;

    width: 130px;
    height: 30px;
    border-radius: 20px;

    background-size: 200% auto;
    background-image:  linear-gradient(101deg, #78e4ff, #ff48fa);
    transform: translateY(2px) translateX(3px);

    font-family: var(--font-txt);
    font-weight: bold;
    font-size: 16px;
}
.c-form-button:hover{
    transform: translateY(0px) translateX(0px);
    width: 136px;
    height: 34px;
    font-size: 18px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    background-image:linear-gradient(101deg, #78e4ff, #ff48fa) !important;
    /*background-origin: border-box;
    background-clip: content-box;  METTRE DES TRUC LA
    appearance: unset;*/
}

.c-form{
    margin-top: 20px;
    transition: 0.2s ease;
}
.c-form-{
    margin-top: 20px;
}


.c-form > div {
    padding: 0 4px;
}

.c-form .c-form-input-wrapper {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease, opacity .2s ease;
}

.c-form .c-form-input-wrapper-connection {
    max-height: 60px;
    opacity: 1;
    overflow: hidden;
    transition: max-height .2s ease, opacity .2s ease;
}
.c-form.inscription .c-form-input-wrapper-connection {
    max-height: 0;
    opacity: 0;
}

.c-form.inscription .c-form-input-wrapper {
    max-height: 60px;
    opacity: 1;
}

.c-form-input{
    margin: 4px 0;
    border-radius: 30px;
    width: 300px;
    height: 35px;

    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5), 2px 1000px 1px #fff inset;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: all 0.1s ease;
    padding-left: 20px;
}
.c-form-input:hover{
    width: 310px;
    /*height: 40px;*/
}
.c-form-input:focus{
    width: 400px;
}

.c-checkbox-zone{
    width: 100%;
    height: 20px;
    position: relative;

    margin-top: 10px;
    margin-left: 20px;
}
.c-checkbox{
    transform: translateY(3px) translateX(3px);
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 4px;
    box-sizing: border-box;
    border: solid 1px transparent;
    /*background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);*/
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #a5a5a5, #696969);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 4px 1000px 3px #fff inset;

    cursor: pointer;
}
.c-checkbox:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    border: solid 2px transparent;
}
.c-checkbox-{
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    box-shadow: 0 0 0 #fff inset;
}
.c-checkbox-:hover{
    border: solid 3px transparent;
}
.c-checkbox-inp {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.c-checkbox-txt {
    color: var(--c-txt);
    font-family: var(--font-txt);
    font-weight: bold;
    transform: translateY(-3px) translateX(20px);
}

.c-OOT{
    width: 120px;
    height: 30px;
    margin-left: 50px;
    border-radius: 20px;
    display: inline-block;
}
.c-OOT:hover{
    width: 124px;
    height: 32px;
    margin-left: 48px;
}
.c-Google{
    border: 2px solid rgb(212, 212, 212);
    background-image: url("assets/imgs/OOT_gl.png"), linear-gradient(101deg, rgb(238, 238, 238), rgb(218, 218, 218));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.c-Twitter{
    border: 2px solid rgb(53, 166, 231);
    background-image: url("assets/imgs/OOT_tw.png"), linear-gradient(101deg, rgb(68, 204, 245), rgb(43, 172, 223));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.c-notif{
    width: 24px;
    height: 24px;
    margin-top: 6px;
}
.c-error-zone{
    overflow: hidden;
    height: 0;
    transition: all 0.2s ease;
    margin-left: 20px;

    background-image: url("assets/imgs/stop.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px 16px;

    padding-left: 20px;
    color: var(--c-txt);
    font-family: var(--font-txt);
    font-size: 12px;
    font-weight: bold;
}
.c-error-zone-unhide{
    height: 16px;
}
/*------------Menu DropDown--------------------------------------------*/
.menu-dropdown{
    position: absolute;
    top: 44px;
    right: 0;
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 3px darkblue;
    overflow: hidden;
    height: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 9000;
    transition: 0.2s;
}
.menu-dropdown-on{
    height: auto;
    width: auto;
    visibility: visible;
    opacity: 1;
    transition: 0.2s;
}
.menu-list{
    color: black;
    line-height: 40px;
    border-bottom: 1px solid black;
    padding: 10px;
}

/*------------Day-Night--------------------------------------------*/
.day-night{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 25px;
    width: 50px;
    border-radius: 25px;
    background-color: white;
    box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(185, 185, 185);
    transition: 0.2s;
    z-index: 2000;
}
.day-night2{
    top: 20px;
    right: 170px;
}
.day-night3{
    top: 25px;
    right: 250px;
}
.day-night-toggle{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 25px;
    /*background-color: blue;*/
    background-image: linear-gradient(101deg, #78e4ff, #ff48fa);
    transition: 0.2s;
}
.day-night-toggle:hover{
    height: 25px;
    width: 25px;
}
.day-night-toggle-off{
    left: 75%;
    transition: 0.2s;
}
/*------------Scrollbar Chrome--------------------------------------------*/
/* width */
.main-container::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.main-container::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 7px;
    box-shadow:
            inset 0 0 0 2px rgb(190, 190, 190),
            inset 0 0 0 4px rgb(228, 228, 228);


}

/* Handle */
.main-container::-webkit-scrollbar-thumb {
    width: 20px;
    border-radius: 10px;
    background:  linear-gradient(145deg,
    #78e4ff 0%,
    #ff48fa 200%);
}

